<h1>Instructor Registration Form</h1>
<% if @instructor.errors.any? %>
  <ul>
    <% @instructor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<%end%>

<%= form_for(@instructor) do |f| %>
    <%= render partial: "form", locals: {f: f }%>
    <%=f.submit "Register Instructor"%>
<%end%>

<p><%= link_to "Home", root_path %></p>