  <h2> Create A Schedule For A Course </h2>
  
  <%= form_for(@schedule) do |f| %>
  <%=f.label 'Days'%>
  <%=f.text_field :days %>
  <%=f.label 'Time'%>
  <%=f.text_field :time %><br>
  <%=f.label 'Semester'%>
  <%=f.text_field :semester %><br>
  <%=f.fields_for :course do |c| %>
  <%=c.label "Title" %><br>
  <%=sch.text_field :title %><br>
  <%=sch.label "Description" %><br>
  <%=sch.text_area :description %><br>
  <%=f.submit "Create Course Schedule"%>
  <%end%>