<h1> Edit Course </h1> 

<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
     
      <li><%= message %></li>
    <%end%>

    <% flash.each do |type, msg| %>
      <div class="field field_with_errors">
        <h3><%= msg %></h3>
      </div>
    <% end %>

</ul>
<% end %>


<%= form_for @course do |f|%>
    <%=render partial: 'form', locals: {f: f}%>
    <%=f.submit "Edit Course"%>
  <%end%> 